# to check packages 
# -----------------------------------------------------------------------------------------------------
# >>> pip install pipdeptree
# >>> pipdeptree | sed "s/^.* - .*//g" | sed "/^$/d"
# -----------------------------------------------------------------------------------------------------

# pyECM requirements
attrs==22.2.0
numpy==1.21.2
pyscf==2.1.1
